<div class="big_list">
	<div class="text">
	 <br><h1>Buy or not to buy links</h1></br>

		<p>A bit of history.</p>

		<br><p>Do we need to buy links? Is it safe?
		Before answering this question we must go back to basics. Why do I need references? Can we not have a website these links with a high rating?</p></br>
		<p>Here's how Google ranks the web pages:</p>

		<br><p>Google is building according to the value of the ratings sites. Determining this value - is Page Rank. Google considers and evaluates the quality of links to web sites hosted on other sites. In other words, the link from site A to site B is considered the "voice", and if the site B are linked to 300 sites, it is considered more important than the one to which are only 5 or 10 links (this is the case if the quality of the links about the same.) Thus, the more links leading to your website, it is considered that content of this site is interesting and useful. In the last 3-4 years, many site owners do link exchange - if you place on your site my banner, I'll post yours.</p></br>
		<p>In my opinion, it is. And if you look at it from this point of view, buying links in our time should be standard practice.</p>

		<br><p>You just have to be careful in this kind of promotion if your site is quite young and don't have much popularity. Google uses a lot of ways to identify sites that use this type of promotion. In worse case you site can be pushed down in search or even banned.</p></br>

	<br><h1>Hits and hosts</h1></br>
		Hosts - number of visitors from different IP-addresses, that is, the number of different people who have viewed your site.

		<p>A "hit" occurs whenever a web browser requests a file on your website.</p>

		<p>Of course, the picture is not entirely objective, because some users can work on the same computer or IP-address can be dynamic. In consequence, the number of hosts can be more real.</p>

		<p>But in general, the analysis of hosts and hits gives an objective picture of your site traffic.</p>

		<p>Suppose, one day your site was visited 50 people who viewed 60 pages.</p>

		This means that only one from five have looked more than one page, and can, and does, 49 left your site after opened it, and one of them have looked over 11 pages.

		In the case of these results should be kept in mind that the contents of the site are not interested for people, as they do not go deep into the resource.

		In contrast, the ratio of hits to the hosts about 1:3 and more evidence that the resource is interesting.

		Some resources have the figure more than 1:10, which means that every visitor view an average of 10 pages.
	</br>
	</div>
</div>