	<div class="top_block">
		<div class="text">
			<p>“Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.” <p>Mark Twain.</p>				
			</p>
		</div>
	    <%= image_tag("me-2.png", :class => "me") %>
	</div>
	<div class="right_block">
		<h1>The Best SEO Articles</h1>
		<ul>
		<li><a href="/blog">Buy or not to buy links &raquo;</a>
		<li><a href="/blog#hits_and_hosts">Hits and hosts &raquo;</a>
		<li><a href="/blog#hits">Hits &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		</ul>
	</div>
	<div class="main_block">
			<h1>Website needs</h1>
			<p><br>Every website needs maintenance during its life to remain interesting and relevant. Therefore, we need to develop, improve, promote and frequently update new content on the site. That is the primary method that SEO can make your site popular and increase the amount of people that visit your site.</br>
			<br>Through blogs, we can discuss and share the secrets of successful promotion, white SEO tricks, CSS/ HTML difficulties, and Google analytics.</br>
			<br>The main purpose of the optimizer is to provide you with an opportunity to continuously learn new skills, improve your knowledge, and share your experiences with other optimizers.</br> 
			<br>Blogs and forums can often be much more useful than books and tutorials since you can get the freshest and most useful information from blogs. </br>
			<br>So, let’s share and learn useful SEO tricks.</br>
			</p>
	</div>
